<html>
  <body>
    <h1>se connecter</h1>
    <div class="container">
      <form action="/login/send" class="row">
        <input type="text" placeholder="Email" class="col-sm-12">
        <input type="password" placeholder="password">
        <input type="submit" value="se connecter">
      </form>

    </div>

  </body>
</html>
